#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=27) progid:DXImageTransform.Microsoft.Alpha(Opacity=27);
  filter: alpha(opacity=27) alpha(opacity=27);
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=27) progid:DXImageTransform.Microsoft.Alpha(Opacity=27);
  filter: alpha(opacity=27) alpha(opacity=27);
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-63f83798-7fa3-476b-ac8e-87897d33531c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}