#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8673a8a0-c682-45fb-88b0-9e0151332b10 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}