#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-987777c1-f595-48ef-8555-a3956a6745bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}