#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Table_1 {
  border-collapse: separate;
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 159px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 98px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9db913fd-12d1-4149-875a-0229a4de495d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}