#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=61);
  filter: alpha(opacity=61);
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Rectangle_29 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Triangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Triangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Triangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Triangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Triangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a7806e55-dc68-4fd8-87c9-2aba243df814 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}