#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_3 {
  position: absolute;
  top: 130px;
  left: 46px;
  width: 828px;
  height: 591px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_4 {
  position: absolute;
  top: 154px;
  left: 83px;
  width: 561px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_5 {
  position: absolute;
  top: 192px;
  left: 83px;
  width: 771px;
  height: 521px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_8 {
  position: absolute;
  top: 221px;
  left: 236px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_10 {
  position: absolute;
  top: 224px;
  left: 396px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_11 {
  position: absolute;
  top: 362px;
  left: 237px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_13 {
  position: absolute;
  top: 361px;
  left: 395px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_14 {
  position: absolute;
  top: 224px;
  left: 466px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_14 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_14 span#rtr-s-Text_14_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_15 {
  position: absolute;
  top: 362px;
  left: 466px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_15 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_15 span#rtr-s-Text_15_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_16 {
  position: absolute;
  top: 198px;
  left: 236px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_17 {
  position: absolute;
  top: 198px;
  left: 397px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_21 {
  position: absolute;
  top: 198px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_22 {
  position: absolute;
  top: 198px;
  left: 559px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_23 {
  position: absolute;
  top: 223px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_24 {
  position: absolute;
  top: 364px;
  left: 87px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_25 {
  position: absolute;
  top: 224px;
  left: 557px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_26 {
  position: absolute;
  top: 364px;
  left: 558px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_26 span#rtr-s-Text_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_6 {
  position: absolute;
  top: 244px;
  left: 88px;
  width: 759px;
  height: 94px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_27 {
  position: absolute;
  top: 253px;
  left: 96px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_27 span#rtr-s-Text_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_28 {
  position: absolute;
  top: 253px;
  left: 233px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_28 span#rtr-s-Text_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_29 {
  position: absolute;
  top: 253px;
  left: 397px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_30 {
  position: absolute;
  top: 282px;
  left: 96px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_30 span#rtr-s-Text_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_31 {
  position: absolute;
  top: 282px;
  left: 233px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_31 span#rtr-s-Text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_7 {
  position: absolute;
  top: 382px;
  left: 88px;
  width: 759px;
  height: 313px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_32 {
  position: absolute;
  top: 391px;
  left: 96px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_33 {
  position: absolute;
  top: 391px;
  left: 233px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_34 {
  position: absolute;
  top: 391px;
  left: 397px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_35 {
  position: absolute;
  top: 420px;
  left: 96px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_36 {
  position: absolute;
  top: 420px;
  left: 233px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_37 {
  position: absolute;
  top: 456px;
  left: 94px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_37 span#rtr-s-Text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_38 {
  position: absolute;
  top: 489px;
  left: 145px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_38 span#rtr-s-Text_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_38 span#rtr-s-Text_38_1 {
  color: #FC0D1B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_39 {
  position: absolute;
  top: 532px;
  left: 145px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_39 span#rtr-s-Text_39_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_39 span#rtr-s-Text_39_2 {
  color: #FC0D1B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_41 {
  position: absolute;
  top: 577px;
  left: 145px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_41 span#rtr-s-Text_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_41 span#rtr-s-Text_41_1 {
  color: #FC0D1B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_40 {
  position: absolute;
  top: 489px;
  left: 613px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_40 span#rtr-s-Text_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_42 {
  position: absolute;
  top: 532px;
  left: 613px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_42 span#rtr-s-Text_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_43 {
  position: absolute;
  top: 577px;
  left: 613px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_43 span#rtr-s-Text_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_44 {
  position: absolute;
  top: 466px;
  left: 609px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_1 {
  position: absolute;
  top: 213px;
  left: 662px;
  width: 131px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_2 {
  position: absolute;
  top: 349px;
  left: 665px;
  width: 126px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_1 {
  position: absolute;
  top: 61px;
  left: 43px;
  width: 833px;
  height: 67px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Line_1 {
  position: absolute;
  top: 130px;
  left: 46px;
  width: 832px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.47;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_1 {
  position: absolute;
  top: 62px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: Segoe Script,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_2 {
  position: absolute;
  top: 72px;
  left: 732px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Image_2 {
  position: absolute;
  top: 65px;
  left: 678px;
  width: 42px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_4 {
  position: absolute;
  top: 72px;
  left: 817px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_5 {
  position: absolute;
  top: 111px;
  left: 679px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_6 {
  position: absolute;
  top: 90px;
  left: 729px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Image_1 {
  position: absolute;
  top: 72px;
  left: 52px;
  width: 29px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_7 {
  position: absolute;
  top: 105px;
  left: 78px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_9 {
  position: absolute;
  top: 108px;
  left: 173px;
  width: auto;
  height: auto;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_68 {
  position: absolute;
  top: 108px;
  left: 265px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_68 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_68 span#rtr-s-Text_68_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_69 {
  position: absolute;
  top: 107px;
  left: 356px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_69 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_69 span#rtr-s-Text_69_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_105 {
  position: absolute;
  top: 108px;
  left: 608px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_105 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_105 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_105 span#rtr-s-Text_105_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_45 {
  position: absolute;
  top: 108px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_45 span#rtr-s-Text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_46 {
  position: absolute;
  top: 100px;
  left: 163px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_46 span#rtr-s-Text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_106 {
  position: absolute;
  top: 99px;
  left: 256px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_106 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_106 span#rtr-s-Text_106_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_107 {
  position: absolute;
  top: 100px;
  left: 348px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_107 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_107 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_107 span#rtr-s-Text_107_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_108 {
  position: absolute;
  top: 100px;
  left: 489px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_108 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_108 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_108 span#rtr-s-Text_108_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_109 {
  position: absolute;
  top: 101px;
  left: 598px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_109 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_109 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_109 span#rtr-s-Text_109_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_110 {
  position: absolute;
  top: 62px;
  left: 805px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_110 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_110 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be #s-Text_110 span#rtr-s-Text_110_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aa01baf2-0e6b-4495-b9a8-7f26687ca9be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}