#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=42) progid:DXImageTransform.Microsoft.Alpha(Opacity=42);
  filter: alpha(opacity=42) alpha(opacity=42);
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=42) progid:DXImageTransform.Microsoft.Alpha(Opacity=42);
  filter: alpha(opacity=42) alpha(opacity=42);
  -ms-transform: rotate(0.0deg);
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}