#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b14d64fe-827a-4adf-bafb-6c122c19babf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}