#s-b2038f8b-9299-43b7-8572-2666baec8ab7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_3 {
  position: absolute;
  top: 130px;
  left: 44px;
  width: 832px;
  height: 390px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Line_2 {
  position: absolute;
  top: 156px;
  left: 77px;
  width: 726px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Line_3 {
  position: absolute;
  top: 187px;
  left: 77px;
  width: 726px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_13 {
  position: absolute;
  top: 159px;
  left: 83px;
  width: auto;
  height: auto;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_13 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 15.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_14 {
  position: absolute;
  top: 159px;
  left: 190px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_15 {
  position: absolute;
  top: 156px;
  left: 172px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_16 {
  position: absolute;
  top: 199px;
  left: 59px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_19 {
  position: absolute;
  top: 291px;
  left: 268px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_20 {
  position: absolute;
  top: 350px;
  left: 240px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_21 {
  position: absolute;
  top: 223px;
  left: 557px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_4 {
  position: absolute;
  top: 216px;
  left: 633px;
  width: 127px;
  height: 21px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Category_1 {
  position: absolute;
  top: 219px;
  left: 633px;
  width: 131px;
  cursor: pointer;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Category_1 .valign {
  width: 113px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_5 {
  position: absolute;
  top: 284px;
  left: 653px;
  width: 209px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_22 {
  position: absolute;
  top: 289px;
  left: 664px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_23 {
  position: absolute;
  top: 318px;
  left: 676px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_24 {
  position: absolute;
  top: 350px;
  left: 676px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_25 {
  position: absolute;
  top: 240px;
  left: 59px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Line_6 {
  position: absolute;
  top: 294px;
  left: 134px;
  width: 19px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Line_7 {
  position: absolute;
  top: 353px;
  left: 131px;
  width: 19px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_29 {
  position: absolute;
  top: 292px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_30 {
  position: absolute;
  top: 351px;
  left: 55px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_33 {
  position: absolute;
  top: 291px;
  left: 167px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_33 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_34 {
  position: absolute;
  top: 350px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_34 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_35 {
  position: absolute;
  top: 318px;
  left: 662px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_36 {
  position: absolute;
  top: 350px;
  left: 662px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_1 {
  position: absolute;
  top: 61px;
  left: 43px;
  width: 833px;
  height: 67px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Line_1 {
  position: absolute;
  top: 130px;
  left: 46px;
  width: 832px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.47;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_1 {
  position: absolute;
  top: 62px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: Segoe Script,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_2 {
  position: absolute;
  top: 72px;
  left: 732px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Image_2 {
  position: absolute;
  top: 65px;
  left: 678px;
  width: 42px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_4 {
  position: absolute;
  top: 72px;
  left: 817px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_5 {
  position: absolute;
  top: 111px;
  left: 679px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_6 {
  position: absolute;
  top: 90px;
  left: 729px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Image_1 {
  position: absolute;
  top: 72px;
  left: 52px;
  width: 29px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_7 {
  position: absolute;
  top: 105px;
  left: 78px;
  width: auto;
  height: auto;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_9 {
  position: absolute;
  top: 108px;
  left: 173px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_68 {
  position: absolute;
  top: 108px;
  left: 265px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_68 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_68 span#rtr-s-Text_68_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_69 {
  position: absolute;
  top: 107px;
  left: 356px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_69 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_69 span#rtr-s-Text_69_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_105 {
  position: absolute;
  top: 108px;
  left: 608px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_105 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_105 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_105 span#rtr-s-Text_105_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_43 {
  position: absolute;
  top: 108px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_44 {
  position: absolute;
  top: 100px;
  left: 163px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_106 {
  position: absolute;
  top: 99px;
  left: 256px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_106 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_106 span#rtr-s-Text_106_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_107 {
  position: absolute;
  top: 100px;
  left: 348px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_107 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_107 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_107 span#rtr-s-Text_107_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_108 {
  position: absolute;
  top: 100px;
  left: 489px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_108 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_108 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_108 span#rtr-s-Text_108_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_109 {
  position: absolute;
  top: 101px;
  left: 598px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_109 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_109 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_109 span#rtr-s-Text_109_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_110 {
  position: absolute;
  top: 62px;
  left: 805px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_110 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_110 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 #s-Text_110 span#rtr-s-Text_110_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b2038f8b-9299-43b7-8572-2666baec8ab7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}