#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6f17be0-2d09-4ff5-9d33-d99ab13c3ab1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}