#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=27) progid:DXImageTransform.Microsoft.Alpha(Opacity=27);
  filter: alpha(opacity=27) alpha(opacity=27);
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=27) progid:DXImageTransform.Microsoft.Alpha(Opacity=27);
  filter: alpha(opacity=27) alpha(opacity=27);
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47) alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d72981-6b2e-40d8-9190-97b30c1cda66 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}