#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e51f50bc-da19-4894-80fb-1488b23c4ecf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}