#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5808ae7-9a33-421e-b529-d8937afd6c49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}